@import url(https://fonts.googleapis.com/css?family=Lobster|Raleway);

.app {
    background: #fafffd;
    color: #342e37;
    font: 400 1rem/1 "Raleway", sans-serif;
    min-height: 100vh;
}

.app__header {
    background: #342e37;
    left: 0;
    margin: 0 auto;
    padding: 1.25rem 0;
    position: fixed;
    text-align: center;
    top: 0;
    width: 100%;
}

.app__header__h1 {
    color: #a2d729;
    font-family: "Lobster", cursive;
    font-size: 1.5rem;
    font-weight: 400;
    margin: 0;
    padding: 0 1rem;
}

.app__header__h1__a {
    color: #3c91e6;
    text-decoration: none;
}

.app__main {
    padding: 4rem 0 0 0;
}

.app__main__nav {
    padding: 1rem;
}

.app__main__nav__ul {
    margin: 0;
    padding: 0;
}

.app__main__nav__ul__li {
    display: inline;
    font-size: 0.75rem;
    list-style: none;
    padding: 0 0.5rem 0 0;
    text-transform: uppercase;
}

.app__main__nav__ul__li::after {
    content: "›";
    padding: 0 0 0 0.5rem;
}

.app__main__nav__ul__li:last-child {
    padding: 0;
}

.app__main__nav__ul__li:last-child::after {
    content: "";
}

.app__main__nav__ul__li__a {
    color: #3c91e6;
    text-decoration: none;
}

.app__main__div {
    padding: 0 1rem 1rem 1rem;
}

.app__main__div__a {
    color: #3c91e6;
    text-decoration: none;
    text-transform: uppercase;
}

.app__main__div__section {
    padding: 0 0 1rem 0;
}

.app__main__div__section__h2 {
    font-size: 1.25rem;
    font-weight: 400;
    margin: 0;
    text-transform: uppercase;
}

.app__main__div__section__input {
    font-size: 0.75rem;
    margin: 0.5rem 0 0 0;
    text-transform: uppercase;
}

.app__main__div__section__ul {
    padding: 0;
}

.app__main__div__section__ul__li {
    list-style: none;
    margin: 0;
}

.app__main__div__section__ul__li__div__h3 {
    font-size: 1.125rem;
    font-weight: 400;
    margin: 0 0 0.5rem 0;
}

.app__main__div__section__p {
    padding: 0;
}

.app__main__div__section__ul__li__div__div {
    display: block;
}

.app__main__div__section__ul__li__div__h4 {
    clear: left;
    font-size: 1rem;
    font-weight: 400;
    margin: 0 0 0.5rem 0;
    text-transform: uppercase;
}

.app__main__div__section__ul__li__div__select {
    font-size: 0.75rem;
    margin: 0 0 1rem 0;
    text-transform: uppercase;
}

.app__footer {
    margin: 0 auto;
    padding: 1rem;
    text-align: center;
}

.app__footer__p {
    font-size: 0.75rem;
    margin: 0;
}

.app__footer__p__a {
    color: #3c91e6;
    text-decoration: none;
}

.-abbr {
    border-bottom: 0.0625rem #fa824c dashed !important; /* override Normalize.css */
    cursor: help;
    text-decoration: none !important;                   /* override Normalize.css */
}